# fly.toml app configuration file generated for vapor-website on 2026-01-06T14:49:43-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#


app = 'swiftunwrapped-com'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
